// Entradas: switches del protoboard
IO_LOC  "I0_1" 25;
IO_PORT "I0_1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "I0_2" 26;
IO_PORT "I0_2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "I0_3" 27;
IO_PORT "I0_3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC  "I0_4" 36;
IO_PORT "I0_4" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// Salidas: reles y pilotos
IO_LOC  "Q0_1" 39;
IO_PORT "Q0_1" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_2" 28;
IO_PORT "Q0_2" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_3" 29;
IO_PORT "Q0_3" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_4" 30;
IO_PORT "Q0_4" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_5" 33;
IO_PORT "Q0_5" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_6" 34;
IO_PORT "Q0_6" IO_TYPE=LVCMOS33;
IO_LOC  "Q0_7" 35;
IO_PORT "Q0_7" IO_TYPE=LVCMOS33;
